body{
  background:#141414;
}

/* contenedor principal */

.dashboard{
  max-width:900px;
  margin:40px auto;
  padding:40px;
  background:white;
  border-radius:12px;
  box-shadow:0 6px 20px rgba(0,0,0,0.08);
  font-family:Arial, Helvetica, sans-serif;
}

/* título principal */

.dashboard h1{
  text-align:center;
  color:#1e40af;
  margin-bottom:35px;
}

/* subtítulos */

.dashboard h2{
  margin-top:35px;
  margin-bottom:15px;
  color:#111827;
}

/* descripción */

.h3{
  color:#4b5563;
  font-size:14px;
  margin-bottom:15px;
}

/* contenedor de síntomas */

.sintomas-container{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

/* tarjeta de síntoma */

.sintoma-card{
  background:#dee5ec;
  border-radius:10px;
  padding:15px;
  display:flex;
  flex-direction:column;
  gap:8px;
  border:1px solid #e5e7eb;
  transition:0.2s;
}

.sintoma-card:hover{
  transform:translateY(-2px);
  box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

/* texto síntoma */

.sintoma-card label{
  font-weight:600;
  color:#21252b;
}

/* select */

.sintoma-card select{
  padding:8px;
  border-radius:6px;
  border:1px solid #d1d5db;
  font-size:14px;
}

/* checkboxes en grid */

.checkbox{
  display:flex;
  align-items:center;
  gap:8px;
  margin:6px 0;
  cursor:pointer;
  color:#374151;
}

/* contenedor para listas */

.checkbox-group{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:6px;
}

/* botón */

.btn{
  display:block;
  width:100%;
  margin-top:40px;
  padding:14px;
  border:none;
  border-radius:10px;
  background:#2563eb;
  color:white;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  transition:0.2s;
}

.btn:hover{
  background:#1d4ed8;
  transform:scale(1.02);
}


.btn-volver{
  background:transparent;
  border:none;
  color:#2563eb;
  font-size:14px;
  cursor:pointer;
  margin-bottom:10px;
}

.btn-volver:hover{
  text-decoration:underline;
}

.resultado{
  margin-top:30px;
  padding:20px;
  border-radius:10px;
  background:#f4f8ff;
  border:1px solid #d6e2ff;
  color: #141414;
}

.tabla-diagnostico{
  width:100%;
  border-collapse:collapse;
  margin-top:20px;
}

.tabla-diagnostico th,
.tabla-diagnostico td{
  border:1px solid #ddd;
  padding:10px;
  text-align:center;
}

.tabla-diagnostico th{
  background:#2563eb;
  color:white;
}

.barra-afinidad{
  background:#e5e7eb;
  border-radius:6px;
  height:20px;
}

.barra{
  background:#22c55e;
  height:100%;
  border-radius:6px;
  text-align:center;
  color:white;
  font-size:12px;
}

.btn-opcion{
  margin:3px;
  padding:6px 10px;
  border:none;
  border-radius:6px;
  background:#63b977;
  color:white;
  cursor:pointer;
}

.btn-opcion:hover{
  background:#1d4ed8;
}